<div ui-view>
  <div class="side flex-box" ng-class="{hiddenprofile: $root.hiddenProfile}">
    <div class="logo" ui-sref="app.three" ng-click="$root.snipOpen = false">
      <h2>Snippit</h2>
    </div>
    <img class="profile-pic full-width" src="http://graph.facebook.com/{{ facebookUser.id }}/picture?width=500"/>
    <h1 class="name">{{ facebookUser.name }}</h1>
    <div class="tabs name">
      <div ng-click="showTab(2)">Settings</div>
      <div ng-click="showTab(1)">Snips</div>
      <div ng-click="showTab(0)">Albums</div>
    </div>
    <div class="tab-views">
      <div class="tab-view full-width" ng-show="tab === 0">
        <div class="snip flex-box hover full-width" ng-show="instaAuth" ng-click="getInstagram()">Instagram Photos</div>
        <div class="snip flex-box hover full-width album" ng-repeat="album in albumNames" ng-click="albumClick(album.name, album.id)" ng-class="{highlighted: $root.albumName === album.name }">{{ album.name }}</div>
      </div>
      <div class="tab-view full-width" ng-show="tab === 1">
        <div class="snip flex-box full-width" ng-repeat="(key, value) in $root.snips">
          <span class="flex-name album" ng-click="view3D(key, value)">{{ value.name }}</span>
          <span class="right">
            <button ng-click="view2D(key, value)" title="edit in 2d"><i class="material-icons">edit</i></button>
            <button ng-click="deleteSnip(key, value)" title="delete this snip"><i class="material-icons">delete</i></button>
          </span>
        </div>
      </div>
      <div class="tab-view full-width" ng-show="tab === 2">
        <a href="/auth/instagram" ng-show="!instaAuth">
          <div class="snip flex-box hover full-width">Authorize Instagram</div>
        </a>
        <a href="/logout">
          <div class="snip flex-box hover full-width">Sign Out</div>
        </a>
        <a href="/deleteAccount">
          <div class="snip flex-box hover full-width">Delete Account</div>
        </a>
      </div>
  </div>
  </div>
  <div ui-view="content" class="content" id="content" ng-class="{thin: $root.snipOpen, fat: !$root.snipOpen, full: $root.hiddenProfile}"></div>
  <div ui-view="snips" class="snips flex-box" id="snips" ng-class="{shown: $root.snipOpen, hidden: !$root.snipOpen}"></div>
</div>
