<section class="profile">
  <div class="profile-pic">
    <img src="http://graph.facebook.com/{{ facebookUser.id }}/picture?width=500"/>
    <h1>{{ facebookUser.name }}</h1>
  <div class="tabs">
    <div ng-click="showAlbums()">Albums</div>
    <div ng-click="showSnips()">Snips</div>
  </div>
  </div>
  <div class="list-view">
    <div class="inner-list">
      <div class="snips" ng-show="snipTab">
        <button class="snip" ng-repeat="(key, value) in snips" ng-click="snipClick(key, value)">{{ key }}</button>
      </div>
      <div class="albums" ng-show="!snipTab">
        <button class="snip" ng-repeat="album in albumNames" ng-click="albumClick(album.name, album.id)">{{ album.name }}</button>
      </div>
    </div>
  </div>
</section>
<section class="flex-grid">
  <div id="album-view" class="grid">
    <div ng-show="loading" class="loading"><img src="../images/loading.gif" /></div>
    <div ng-repeat="pic in albumPhotos" class="picture" ng-show="!snipPhotos[pic.src]">
      <img ng-src="{{ pic.src }}" ng-click="checkOn(pic)">
    </div>
  </div>
  <div id="snip-view" ng-show="snipCheck() || !newSnip">
    <div class="full-width input">
      <input ng-model="snipName" class="snip-name" ng-show="newSnip">
      <button class="add" ng-click="snipAdd()" ng-show="newSnip">add</button>
      <button class="save" ng-click="snipClose()" ng-show="!newSnip">save and exit</button>
    </div>
    <div ng-repeat="(key, value) in snipPhotos" class="picture">
      <img ng-src="{{ key }}" ng-click="checkOff(key)">
    </div>
  </div>
</section>
