<div class="profile">
  <div class="profilePic"><img src="/images/photo.png" /></div>
  <h1>Hello, First Last</h1>
  <div>Your albums</div>
  <div class="albums">
    <button class="snip" ng-repeat="snip in snippits" ng-click="snipClick(snip.name, snip.id)"> {{ snip.name }} </button>
  </div>
</div>
<div class="albumView">
  <div class="picture">
    <img src="https://scontent.xx.fbcdn.net/hphotos-xfp1/v/t1.0-9/p130x130/970575_823282854414_1410067757_n.jpg?oh=9f552a89069a5f081e3f1ad91a422e6b&oe=560CA3FB">
  </div>
  <div class="picture">
    <img src="https://scontent.xx.fbcdn.net/hphotos-xfp1/v/t1.0-9/p130x130/970575_823282854414_1410067757_n.jpg?oh=9f552a89069a5f081e3f1ad91a422e6b&oe=560CA3FB">
  </div>
</div>
