<div class="profile">
  <div class="profilePic"><img src="/images/photo.png" /></div>
  <h1>Hello, First Last</h1>
  <div>Your albums</div>
  <div class="albums">
    <button class="snip" ng-repeat="album in albumNames" ng-click="albumClick(album.name, album.id)"> {{ album.name }} </button>
  </div>
</div>
<div class="albumView">

  <div ng-repeat="pic in snipPhotos" class="picture">
    <img ng-src="{{pic.src}}" ng-class="{highlighted: pic.checked}" ng-click="checkOff(pic)">
  </div>
  <div ng-repeat="pic in albumPhotos" class="picture" ng-show="!pic.checked">
    <img ng-src="{{pic.src}}" ng-class="{highlighted: pic.checked}" ng-click="checkOn(pic)">
  </div>

</div>
