<div ui-view class="flex-col flex-box">
    <div class="full-width flex-box">
      <input ng-model="$root.snipName" class="snip-name" ng-show="$root.newSnip" placeholder="Please type snip name">
      <button class="add" ng-click="snipAdd()" ng-show="$root.newSnip"><i class="material-icons">add</i></button>
    </div>
    <div class="snip-scroll">
      <div class="scroll-photos">
        <div ng-repeat="(key, value) in $root.snipPhotos" class="snip-picture full-width">
          <img ng-src="{{ value.src }}" ng-click="checkOff(key)" class="full-width">
        </div>
      </div>
    </div>
</div>