* {
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}
.facebook {
  height: 50px;
}
h2{
  margin: 0 0;
  display: inline;
}
.viewSelect{
  border: none;
  background: #f3f3f3;
  border-radius: 0 0 5px 5px;
  padding: 5px 10px;
  box-shadow: 0 0 4px #888;
}
.viewSelect:focus{
  outline: none;
}
.viewSelect:hover{
  background-color: red;
}
.blur{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-filter: blur(3px);
}
.center-box {
  padding: 15px 50px 15px 50px;
  text-align: center;
}
.nest{
  position: absolute;
  width: 100%;
  top: 3.75em;
  z-index: -1;
}
.header{
  position: absolute;
  top: 0;
  left: 0;
  height: 3em;
  width: 100%;
  font-size: 1em;
  padding: 30px;
  box-shadow: 0 0 5px #888;
  background-color: #282878;
}
.logo {
  font-family: 'Roboto Slab', sans-serif;
  font-weight: 300;
  font-size: 1.5em;
  position: absolute;
  top: .25em;
  color: #fff;
}
.right{
  position: absolute;
  padding: 1.25em;
  top: 0;
  right: 1em;
}
.right ul li{
  display: inline;
}
.right a{
  font-weight: 300;
  padding: 1em 0;
  margin: 0 1em;
  text-decoration: none;
  color: #fff;
}
.right a:hover{
  border-bottom: 5px solid #fff;
}
.full-screen {
  position: fixed;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}
.center{
  position: absolute;
  top: 20%;
  width: 100%;
  text-align: center;
}
.center h1{
  color: #282878;
  margin: 0.3em;
  font-size: 8em;
  font-family: 'Roboto Slab', sans-serif;
}

.element {
  width: 120px;
  overflow: hidden;
  height: 160px;
  border-radius: 4px;
  text-align: center;
  cursor: default;
  box-shadow: 0 0 25px #888;
}

.element:hover {
  border: solid #515151 4px;
}

.element img{
  min-height: 160px;
  min-width: 120px;
  height: 100%;
}