/* overarching styles */
* {
  box-sizing: border-box;
}
*:focus {
  outline: none;
}

/* mobular classes */
.full-height {
  height: 100%;
}
.full-width {
  width: 100%;
}
.shadow {
  box-shadow: 0 0 5px #888;
}


body {
  overflow: hidden;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}
h2 {
  margin: 0;
  padding: 5px;
}
.facebook {
  background: rgba(255, 255, 255, .2);
  color: #fff;
  border-radius: 5px;
  text-decoration: none;
  border: 2px solid #fff;
  padding: 10px 15px;
  margin-top: 20px;
}
.facebook:hover {
  background: rgba(255, 255, 255, .6);
}
.render {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.authRender {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.hide-profile {
  background: rgba(10,10,10,.5);
  border: none;
  color: #fff;
  flex: 0 0 60px;
}
.hide-profile img {
  transition: .5s;
  width: 20px;
}
.flipped {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  transition: .5s;
}
.view-select h2 {
  font-weight: 100;
}
.view-select {
  width: 16%;
  border: none;
  background: rgba(10,10,10,.5);
  color: #fff;
  padding: 14px 10px;
}
.view-select:hover {
  background: rgba(10,10,10,.8);
}
.content {
  position: absolute;
  left: 20%;
  height: 100%;
  overflow-y: auto;
  z-index: -2;
}
.side {
  display: flex;
  flex-direction: column;
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  text-align: center;
  height: 100%;
  width: 20%;
  float: left;
  font-size: 1em;
  box-shadow: 0 0 5px;
  transition: .5s;
  background: #fff;
}
.profile-pic {
  flex: 0 0 auto;
}
.name {
  flex: 0 0 auto;
}
.logo {
  flex: 0 0 60px;
  background-color: #282878;
  font-family: 'Roboto Slab', sans-serif;
  font-weight: 300;
  font-size: 1.5em;
  color: #fff;
}
.full-screen {
  position: fixed;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}
.center {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(100, 100, 100, .8);
  position: absolute;
  text-align: center;
}
.center img {
  width: 50%;
  font-size: 8em;
  font-family: 'Roboto Slab', sans-serif;
}
.element {
  box-sizing: content-box;
  width: 120px;
  overflow: hidden;
  height: 160px;
  border-radius: 4px;
  text-align: center;
  cursor: default;
  box-shadow: 0 0 25px #888;
}
.element:hover {
  border: solid #515151 4px;
}
.element img {
  min-height: 160px;
  min-width: 120px;
  height: 100%;
}
.search {
  margin-top: 100px;
  width: 350px;
  height: 50px;
  font-size: 12px;
}
.profile {
  height: 75%;
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 20%;
  float: left;
  background: #e6e6e6;
  text-align: center;
}
.profile h1 {
  margin: 0;
}
.snip {
  display: block;
  border: none;
  padding: 10px;
}
.instagram {
  background-color: #3498db;
  text-decoration: none;
}
.instagram:hover{
  background-color: #2980b9;
}
.list-view {
  overflow: auto;
}
.snip:focus {
  outline: none;
}
.add {
  border: none;
  height: 2em;
  width: 25%;
  border-radius: 0 4px 4px 0;
  margin-left: -4px;
  background: #e6e6e6;
  text-align: center;
}
.save {
  border-radius: 4px;
  border: none;
  background: #e6e6e6;
  text-align: center;
}
.add:hover {
  background: #ccc;
}
.grid {
  -webkit-column-count: 4;
  -webkit-column-gap: 0px;
  -moz-column-count: 4;
  -moz-column-gap: 0px;
  column-count: 4;
  column-gap: 0px;
}
.picture {
  float: left;
}
.tab-views {
  flex: 1 10 auto;
  overflow-y: auto;
}
.tab-view {
  float: left;
  clear: both;
  text-align: left;
}
.right {
  float: right;
}
.right button {
  border: none;
  background: transparent;
  padding: 0;
}
.right i {
  background: transparent;
  color: #e6e6e6;
}
.right i:hover {
  color: black;
}
.tabs {
  background: #29438F;
  color: #fff;
  font-weight: 100;
}
.tabs div {
  width: 33.33%;
  float: right;
  cursor: pointer;
  padding: .5em;
}
.tabs div:hover {
  background-color: #282878;
}
.snip:hover {
  background-color: white;
}
.snip:active {
  background-color: gray;
}
.snip-name {
  padding: 4.5px 10px;
  border-radius: 4px 0 0 4px;
  margin: 0;
  width: 75%;
  border: none;
}
.input {
  padding: 5px;
}
#snip-view {
  width: 100%;
  float: right;
  padding: 5px;
}
.snips {
  position: absolute;
  height: 100%;
  overflow-y: auto;
  width: 20%;
  background-color: #29438F;
  box-shadow: 0 0 5px;
}
.loading {
  width: 20%;
  margin: 10% 40%;
  box-sizing: content-box;
}
.flex {
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  width: 80%;
  float: right;
  height: 100%;
  overflow: hidden;
}
.thin {
  width: 60%;
  transition: .5s;
}
.fat {
  width: 80%;
  transition: .5s;
}
.full {
  width: 100%;
  left: 0;
  transition: .5s;
}
.hiddenprofile {
  left: -20% !important;
  transition: .5s;
}
#menu {
  height: 60px;
  display: flex;
  box-shadow: 0 0 5px;
}
button.settings {
  width: 100%;
}
.hidden {
  right: -20%;
  transition: .5s;
}
.shown {
  right: 0;
  transition: .5s;
}