html, body {
  height: 100%;
}

body {
  background-color: #0092A5;
  margin: 0;
  font-family: Helvetica, sans-serif;;
  overflow: hidden;
}

a {
  color: #9e9e9e;
}

#info {
  position: absolute;
  width: 100%;
  color: #ffffff;
  padding: 5px;
  font-family: Monospace;
  font-size: 13px;
  font-weight: bold;
  text-align: center;
  z-index: 1;
}

#menu {
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-align: center;
}

.element {
  width: 120px;
  overflow: hidden;
  height: 160px;
  border-radius: 4px;
  text-align: center;
  cursor: default;
}

.element:hover {
  border: solid red 2px;
}

.element img{
  min-height: 160px;
  min-width: 120px;
  height: 100%;
}

button {
  color: #9e9e9e;
  border-radius: 5px;
  background: transparent;
  border: 0px;
  padding: 5px 10px;
  cursor: pointer;
}

button:hover {
  background-color: #9e9e9e;
}

button:active {
  color: #000000;
  background-color: #9e9e9e;
}